# Foundry
contracts/cache/
contracts/out/
contracts/lib/
node_modules/
yarn.lock
.DS_Store

# Node
*/node_modules/*
web/node_modules
.next

# Compiler files
contracts/cache/
contracts/out/

# Ignores development broadcast logs
contracts/broadcast/
contracts/broadcast/*/31337/
contracts/broadcast/**/dry-run/
contracts/lib/forge-std/*

# Docs
contracts/docs/

# Dotenv file
.env