@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Segment';
  src: url('/fonts/Segment-Medium.otf') format('opentype');
  font-weight: 500;
  font-style: normal;
}

body {
  font-family: 'Segment', sans-serif;
}

/* remove up and down arrows from number inputs */
@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}

.hide-media button[type="button"] {
  display: none !important;
}